@page "/"
@inject IIndexViewModel ViewModel

<h1>
    Employees
</h1>

<p>
    @ViewModel.WelcomeMessage
</p>

<EmployeeListing />

@code
{
    protected override async Task OnInitializedAsync()
    {
        await ViewModel.InitialiseViewModel();
    }
}